.main {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 150px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

button {
  font-size: 25px;
  border: none;
  background: #444;
  color: white;
  height: 50px;
  width: 20%;
}

.custom_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.pokemon_info {
  border: solid 3px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 115px;
  width: 275px;
}

.pokemon_info ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
}

.pokemon_info span {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin: auto;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .main {
    font-size: 0.75rem;
  }

  section {
    min-height: 100px;
  }

  button {
    width: 30%;
    font-size: 15px;
  }

  .pokemon_info {
    height: 115px;
    width: 215px;
  }

  .pokemon_info ul {
    width: 190px;
  }

  .pokemon_info span {
    width: 175px;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 240px) {
  button {
    width: 40%;
    font-size: 10px;
  }
  .main {
    font-size: 0.65rem;
  }

  .pokemon_info {
    height: 60px;
  }
}
