.create-main {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #bbb;
  color: #444;
  line-height: 1.5;
  text-align: left;
}

.custom-form {
  display: flex;
  flex-direction: column;

  padding-left: 5px;
}

.custom-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.type select:nth-child(even) {
  margin-left: 5px;
}

.height,
.type,
.weight {
  display: flex;
}

.height span {
  padding-right: 5px;
  padding-left: 2.5px;
}
.weight input {
  width: 40px;
}

.weight span {
  margin-left: 2.5px;
}

input,
select {
  width: 150px;
  border: solid black 1px;
}

.height input {
  width: 25px;
}

textarea {
  border: solid black 1px;
  max-width: 400px;
  min-height: 100px;
}

button {
  border: solid black 1px;
}

@media only screen and (max-width: 240px) {
  .main {
    font-size: 0.65rem;
  }
}
